<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jonathaenalvarezm.horasdetrabajo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PrincipalActivity"
            android:label="Horas de Trabajo"></activity>
        <activity android:name=".RegistroHorasActivity"
            android:label="Registro de Horas"></activity>
        <activity android:name=".SemanaActivity"
            android:label="Semana"></activity>
        <activity android:name=".HistorialActivity"
            android:label="Detalles"></activity>
        <activity android:name=".NuevaSemana"
            android:label="Nueva Semana"></activity>

        <service android:name="jonathaenalvarezm.horasdetrabajo.MyService" android:process=":remote"/>

    </application>

</manifest>